table {
    border: medium solid #000000;
    width: 50%;
    background-color: rgb(252, 250, 248);
}
td, th {
    border: thin solid #0d1729;
    width: 50%;
}

.titre{
    background-color: #1e333d;
    color: aliceblue;
}

.col{
    background-color: rgb(217, 219, 210);
}

.modif{
    color: black;
}

.center{
    text-align: center;
}